body {
    background-color: #fafffd;
}

.modal, #login, #signup{
    background-color: #001f13c7;
}

.carousel-item{
    max-height: 500px !important;
    height: 20%;
}
.carousel-item img{
    max-height: 560px !important;
    height: 20%;
    width: 100%;
}
.submit{
    background-color: #007548;
    color: #fafffd;
}
.submit h3{
    background-color: #007548;
    color: #fafffd;
}
.submit span{
    color: black;
}
.submit label {
    font-size: 120%;
}
a, .btn-order-by-filt .account-drop {
    color: rgb(39, 39, 39) !important;
}
.btn-order-by-filt span {
    color: rgb(39, 39, 39) !important;
}
.footer-menu a {
    color: #9ea6ba !important;
}
.btn{
    color: #fafffd !important;
}
a:hover, .bl-continue{
    color: #00ba74 !important;
}
#preloader {
    background-image: url('https://www.un-page.org/files/public/styles/panopoly_image_full/public/general/green_city_2-01_0.png?itok=OSatsUMP') !important;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position-y: 570%;
    background-blend-mode: color;
}
.input-with-icon i {
    color: black !important;
}
.top-social i{
    color: white;
}
